USE [master]
GO
/****** Object:  Database [RideXpress]    Script Date: 7/6/2025 8:34:17 PM ******/
CREATE DATABASE [RideXpress]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RideXpress', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RideXpress.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RideXpress_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\RideXpress_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RideXpress].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RideXpress]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 7/6/2025 8:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[regNo] [varchar](50) NOT NULL,
	[brand] [varchar](50) NULL,
	[model] [varchar](50) NULL,
	[year] [int] NULL,
	[color] [varchar](30) NULL,
	[price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[regNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 7/6/2025 8:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] NOT NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](15) NULL,
	[address] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rentals]    Script Date: 7/6/2025 8:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rentals](
	[rental_id] [int] NOT NULL,
	[customer_id] [int] NULL,
	[regNo] [varchar](50) NULL,
	[rental_date] [date] NULL,
	[return_date] [date] NULL,
	[rental_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[rental_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[returns]    Script Date: 7/6/2025 8:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[returns](
	[return_id] [int] NOT NULL,
	[rental_id] [int] NULL,
	[return_date] [date] NULL,
	[delay_days] [int] NULL,
	[condition] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[return_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 7/6/2025 8:34:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](max) NULL,
	[username] [varchar](max) NULL,
	[password] [varchar](max) NULL,
	[data_register] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[cars] ([regNo], [brand], [model], [year], [color], [price]) VALUES (N'SG-1290', N'Mazda', N'Demio', 2017, N'Red', CAST(4800.00 AS Decimal(10, 2)))
INSERT [dbo].[cars] ([regNo], [brand], [model], [year], [color], [price]) VALUES (N'SG-2536', N'Toyota', N'Axio', 2016, N'White', CAST(4500.00 AS Decimal(10, 2)))
INSERT [dbo].[cars] ([regNo], [brand], [model], [year], [color], [price]) VALUES (N'SG-3345', N'BMW', N'320i', 2014, N'Black', CAST(8000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[customers] ([customer_id], [first_name], [last_name], [email], [phone], [address]) VALUES (1001, N'Nimal', N'Perera', N'nimalp@example.com', N'0711234567', N'123, Kandy Road, Colombo')
INSERT [dbo].[customers] ([customer_id], [first_name], [last_name], [email], [phone], [address]) VALUES (1002, N'Kamal', N'Fernando', N'kamalf@example.com', N'0772345678', N'45, Galle Road, Galle')
INSERT [dbo].[customers] ([customer_id], [first_name], [last_name], [email], [phone], [address]) VALUES (1003, N'Sunil', N'Wijesinghe', N'sunilw@example.com', N'0753456789', N'78, Temple Road, Kandy')
GO
INSERT [dbo].[rentals] ([rental_id], [customer_id], [regNo], [rental_date], [return_date], [rental_price]) VALUES (2001, 1001, N'SG-1290', CAST(N'2025-07-06' AS Date), CAST(N'2025-07-07' AS Date), CAST(9600.00 AS Decimal(10, 2)))
INSERT [dbo].[rentals] ([rental_id], [customer_id], [regNo], [rental_date], [return_date], [rental_price]) VALUES (2002, 1002, N'SG-1290', CAST(N'2025-07-06' AS Date), CAST(N'2025-07-06' AS Date), CAST(4800.00 AS Decimal(10, 2)))
INSERT [dbo].[rentals] ([rental_id], [customer_id], [regNo], [rental_date], [return_date], [rental_price]) VALUES (2003, 1003, N'SG-2536', CAST(N'2025-07-06' AS Date), CAST(N'2025-07-06' AS Date), CAST(4500.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[returns] ([return_id], [rental_id], [return_date], [delay_days], [condition]) VALUES (3001, 2001, CAST(N'2025-07-06' AS Date), 0, N'Fine')
INSERT [dbo].[returns] ([return_id], [rental_id], [return_date], [delay_days], [condition]) VALUES (3002, 2002, CAST(N'2025-07-06' AS Date), 0, N'Fine')
INSERT [dbo].[returns] ([return_id], [rental_id], [return_date], [delay_days], [condition]) VALUES (3003, 2003, CAST(N'2025-07-06' AS Date), 0, N'Fine')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [username], [password], [data_register]) VALUES (1, N'gamikakj@gmail.com', N'gamika', N'gamika', CAST(N'2025-07-06' AS Date))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
ALTER TABLE [dbo].[rentals]  WITH CHECK ADD FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[rentals]  WITH CHECK ADD FOREIGN KEY([regNo])
REFERENCES [dbo].[cars] ([regNo])
GO
ALTER TABLE [dbo].[returns]  WITH CHECK ADD FOREIGN KEY([rental_id])
REFERENCES [dbo].[rentals] ([rental_id])
GO
USE [master]
GO
